<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings >
		<!--Cadena de conexion-->
		<add name ="Instituto" connectionString ="server=LAPTOP-5OVDLJAK;Database=Institutec;Integrated Security=true"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>